<h1>Movie Title: <%= @movie.title %> </h1>

<h2>Year of Release: <%= @movie.creation_year %></h2>
<h2>Genre: <%= @movie.genre %></h2>

<ul>
<% @movie.actors.order_age.each_with_index do |actor, index| %>
  <section class="actor-<%= index%>">
    <li><%= actor.name %></li>
  </section>
<% end %>
</ul>

<h3>Average age of actors in film: <%= @movie.actors.avg_age %></h3>

<%= form_tag "/movies/#{@movie.id}/actors", method: :patch do %>
  <%= label_tag "Name of actor:"  %>
  <%= text_field_tag :name %>
  <%= submit_tag "Add actor to film" %>
<% end %>
